extends layout.pug

block content
   div(class='partDesign')
    h5(class='partTitle')= part.title
    p(class='partBody')=  part.body
    div(style={display: 'flex', 'justify-content': 'center', 'align-items': 'center'})
     each response in responses
       if response.partId == part.id
        div
         a(class='btn btn-primary' href=`/part/${response.linkedPartId}/preview` style={'background-color': '#080f5b', 'margin': '18px'})= response.body
   a(class='btn btn-primary' href=`/script/${part.scriptId}` style={'background-color': '#080f5b', 'margin-top': '16px'}) Return To Script